@model IEnumerable<OrganicStore.Models.products>
<title>@ViewBag.Title</title>
@{
    ViewBag.Title = "products";
}



<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary text1">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarCenteredExample"
                aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#fruits">Fruits (10)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#veggie">Vegetables (15)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#leafyveggie">Leafy Greens (8)</a>
                </li>
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<div class="container py-5">
    <div class="row justify-content-center">

                            @foreach (products p in Model)
                            {
                                @* <img src="@p.img" height="300px"/>
                                <h5 class="card-title">
                                    @p.p_name
                                </h5>
                                
                                <p class="text-muted mb-4">
                                    @p.details
                                </p>

                            
                            <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 @p.s_price.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 @p.o_price.00</del></span>
                            </div>
                            
                            </div> *@
                             
                            <div class="col-md-4 col-lg-4 col-xl-4 ">
                                <div class="card text-black">
                                    <img src="@p.img"
                                         class="card-img-top" alt="strawberry" />
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h5 class="card-title">@p.p_name</h5>
                                            <p class="text-muted mb-4">
                                                @p.details
                                            </p>
                                        </div>
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <span>Selling Price</span><span>&#8377 @p.s_price.00</span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <span>Original Price</span><span><del>&#8377 @p.o_price.00</del></span>
                                            </div>
                                        </div>
                                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                                    </div>
                                </div>
                            </div>
                            
                            }
    </div>
</div>

<a href="#" class="top">Back to Top &#8593;</a>
